/*Importaciones */
/*Importar fuentes de letras*/
@import url("fonts.css"); 
/*Importar variables*/
@import url("var.css");

.menuProjects{
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 20px;
    padding: 10px;
    background: var(--redGradient);
    width: auto;
    height: auto;
    text-align:center;
    cursor: pointer;
    z-index: 2;
    border-radius: var(--borderRadiusMedium);
    box-shadow: 1px 1px 1px var(--colorBlack1);
}

/* .menuProjects:hover .listProjects{
    display: block;
} */


.menuProjects ul{
    display: none;
    padding: 10px;
}

.listProjects a{
    text-decoration: none;
    color: var(--colorWhite);
    margin: 10px;
}

.listProjects a li:hover{
    color: var(--colorBlack1);
    box-shadow: 1px 1px 2px var(--colorYellow1);
    background: var(--colorWhite);
}

.listProjects a li{
    list-style-type: none;
    padding: 6px;
    border-radius: var(--borderRadiusMinim);;
    background:var(--yellowGradient);
    box-shadow: 1px 1px 2px var(--colorWhite);
    font-family: var(--txtFamilyImpact);
    transition: 1s background,1s color,1s box-shadow;
}


