<div class="modalProjects">
    <p class="closeModal">CERRAR</p>
    <div class="modalContainer">
        <div class="modalContentContainer">
            
            <h3 class="titleModal">Hola mundo</h3>
            <strong>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </strong>
            <button>Link de accion de redireccion</button>
            
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi distinctio suscipit facilis, et pariatur reiciendis dolores est, debitis consectetur iste quo voluptatum ab! Error excepturi facere  quis eos temporibus quidem
            
            </p>
            <div class="modalGaleryContainer">
                <img src="../media/img/fondoMenu.jpg" alt="imagenPrueba1">
               
                <img src="../media/img/fondoMenu.jpg" alt="imagenPrueba1">
               
                <img src="../media/img/fondoMenu.jpg" alt="imagenPrueba1">
               
                <img src="../media/img/fondoMenu.jpg" alt="imagenPrueba1">
               
            </div>

   

        <button>Link de accion de redireccion</button>


    </div>

</div>