<!--Referencia-->

<!--Habilidades web-->
<div class="habilitis">
    <h4>Frontend</h4>
    <div class="hability">
        <div>
            <img src="" alt="">
            <strong>Name</strong>
            <p>&#9733;&#9733;&#9734;&#9734;</p>
        </div>
    </div>

    <div class="hability">
        <div>
            <img src="" alt="">
            <strong>Name</strong>
            <p>&#9733;&#9733;&#9734;&#9734;</p>
        </div>
    </div>
    <div class="hability">
        <div>
            <img src="" alt="">
            <strong>Name</strong>
            <p>&#9733;&#9733;&#9734;&#9734;</p>
        </div>
    </div>

    <div class="hability">
        <div>
            <img src="" alt="">
            <strong>Name</strong>
            <p>&#9733;&#9733;&#9734;&#9734;</p>
        </div>
    </div>

    <h4>Backend</h4>

    <div class="hability">
        <div>
            <img src="" alt="">
            <strong>Name</strong>
            <p>&#9733;&#9733;&#9734;&#9734;</p>
        </div>
    </div>

    <div class="hability">
        <div>
            <img src="" alt="">
            <strong>Name</strong>
            <p>&#9733;&#9733;&#9734;&#9734;</p>
        </div>
    </div>


    <h4>Librerias</h4>
    <div class="hability">
        <div>
            <img src="" alt="">
            <strong>Name</strong>
            <p>&#9733;&#9733;&#9734;&#9734;</p>
        </div>
    </div>

    <div class="hability">
        <div>
            <img src="" alt="">
            <strong>Name</strong>
            <p>&#9733;&#9733;&#9734;&#9734;</p>
        </div>
    </div>
</div>
<!--Final Habilidades web-->




</div>